.heading {
    color: red;
}
.paris-paragraph{
    background-color: beige;
}
#heading2{
    background-color: pink;
}
span{
    border-top: 2px solid black ;
    border-bottom: 4px solid grey;
    padding-left: 5px;
    padding-right: 5px;

}
p{
    border-style: ridge;
    border-width: 10px;
    border-color:lightgreen;
    margin: 5px;
}
h1{
    font-family: Roboto, sans-serif;
    text-align: center;
    
}